<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:cache="http://www.springframework.org/schema/cache"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/cache 
      						http://www.springframework.org/schema/cache/spring-cache-3.2.xsd"
		default-lazy-init="true">
		
	<cache:annotation-driven cache-manager="compositeCacheManager"/>
	
	<bean id="compositeCacheManager" class="org.springframework.cache.support.CompositeCacheManager">
		<property name="cacheManagers">  
	        <list>  
	            <ref bean="memcachedCacheManager"/>  
	        </list>  
	    </property>  
    	<property name="fallbackToNoOpCache" value="true"/> 
	</bean>
	
	<bean id="memcachedCacheManager" class="com.hengtiansoft.xinyunlian.cache.MemcachedCacheManager">
		<constructor-arg name="cacheManager" ref="xCacheManager"/>
	</bean>

	<bean name="xCacheManager" class="com.hengtiansoft.xinyunlian.xmemcached.spring.CacheManagerFactory">
		<property name="defaultProps">
			<props>
				<prop key="addrs">${xmemcached.address}</prop>
				<!-- <prop key="weights">1 1</prop> -->
				<prop key="commandFactory">net.rubyeye.xmemcached.command.TextCommandFactory</prop>
				<prop key="sessionLocator">net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator</prop>
				<prop key="expiration">${xmemcached.default_expiration}</prop>
				<prop key="connectionPoolSize">${xmemcached.pool_size}</prop>
				<prop key="operationTimeout">1000</prop>
				<prop key="useNamespace">${xmemcached.use_namespace}</prop>
				<!-- <prop key="namespace">com.hengtiansoft.xyl.memcached.xmemcached.ClientManagerFactory</prop> -->
				<!-- <prop key="transcoder">com.hengtiansoft.xyl.memcached.xmemcached.ClientManagerFactory</prop> -->
				<!-- <prop key="bufferAllocator">com.hengtiansoft.xyl.memcached.xmemcached.ClientManagerFactory</prop> -->
			</props>
		</property>
		<property name="cacheConfigurationList">
			<list>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">indexProcessing</prop>
						</props>
					</property>
				</bean>			
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">productHits</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">productCategoryCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">navigatorCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">productCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">productFilterCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">articleHits</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">setting</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">product_cache_tag</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">org_area</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">org_area_tree</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">weixin_productCategoryCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">weixin_navigatorCache</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">chongqing_Category</prop>
							<prop key="expiration">${xmemcached.session.default_expiration}</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">chongqing_bind_dealer</prop>
							<prop key="expiration">${xmemcached.chongqing_Category.default_expiration}</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">chongqing_regist_member</prop>
							<prop key="expiration">${xmemcached.chongqing_Category.default_expiration}</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">chongqing_bind_address</prop>
							<prop key="expiration">${xmemcached.chongqing_Category.default_expiration}</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="addrs">${xmemcached.address.authorization}</prop>
							<prop key="cacheName">authorization</prop>
							<prop key="useDefault">false</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="addrs">${xmemcached.address.session}</prop>
							<prop key="cacheName">shiro_cache</prop>
							<prop key="useDefault">false</prop>
							<prop key="expiration">${xmemcached.session.default_expiration}</prop>
						</props>
					</property>
				</bean>
				<bean class="com.hengtiansoft.xinyunlian.xmemcached.CacheConfiguration">
					<property name="properties">
						<props>
							<prop key="cacheName">index_building_process</prop>
							<prop key="expiration">${xmemcached.index_building_Category.default_expiration}</prop>
						</props>
					</property>
				</bean>				
			</list>
		</property>
	</bean>
</beans>