<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rujianbin.provider.mybatis.dao.IPersonDao" >
  <resultMap id="personMap" type="com.rujianbin.provider.mybatis.entity.Person" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
  
   	<sql id="all_column" >
	    name, age
  	</sql>
  	
  	<select id="queryByName" parameterType="java.lang.String" resultMap="personMap">
  		select id,<include refid="all_column"/> from person where name=#{name}
  	</select>
  	
  	<insert id="insert">
  		insert into person (<include refid="all_column"/>) values(#{name},#{age})
  	</insert>
  	
  	<update id="update">
  		update person set age=#{age} where name=#{name}
  	</update>
</mapper>
