<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:redis="http://www.springframework.org/schema/redis"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/redis
	   http://www.springframework.org/schema/redis/spring-redis-1.0.xsd"
	default-lazy-init="true">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="100"/> 
        <property name="maxIdle" value="50"/> 
        <property name="minIdle" value="10"/>
        <property name="maxWaitMillis" value="30000"/> 
        <property name="testOnBorrow" value="true"/> 
        <property name="testOnReturn" value="true"/> 
        <property name="testWhileIdle" value="true"/>
    </bean>
 
    <bean id="jedisCluster" class="com.rujianbin.redis.jedisCluster.JedisClusterFactory">
    	<property name="jedisPoolConfig" ref="jedisPoolConfig" />
    	<property name="redisHostAndPort" value="192.168.91.228:7000,192.168.91.228:7001,192.168.91.228:7002,192.168.91.228:7003,192.168.91.228:7004,192.168.91.228:7005"></property>
    </bean>
</beans>	

	